.brand {
    max-width: 1140px;
    transform: translateY(50px);
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: all 500ms ease-in;
}

.title {
    margin: 32px;
    font-size: 20px;
    font-weight: bold;
}

.swiper {
    position: relative;
}

.next,
.previous {
    display: none;
}

.previous {
    bottom: 50%;
    right: 0;
}

.onView {
    width: 100%;
    opacity: 1;
    margin: 32px auto;
    transform: translateY(0);
}

@media only screen and (min-width: 768px) {
    .brand {
        margin: 32px 0;
    }

    .title {
        margin: 32px;
        font-size: 1.17em;
    }

    .swiper {
        padding: 0 0 0 42px;
    }

}

@media only screen and (min-width: 1204px) {
    .brand {
        max-width: 1140px;
        margin: 32px 0;
    }


    .next,
    .previous {
        position: absolute;
        top: calc(50% - 32px);
        width: 32px;
        height: calc(100% - 42px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;

        &:hover {
            background-color: #99999999
        }
    }
}