.container {
    max-width: 1140px;
    margin: 24px auto;
    padding: 0 32px;
}

.info-wrapper {
    display: flex;
    justify-content: space-around;
}

.slice {
    width: 100%;
    max-width: 696px;
    overflow: hidden;
}

.thumb-gallery {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.swiper-slice1 {
    overflow: hidden;
}

.swiper-item {
    backdrop-filter: blur(64px);
    width: 100% !important;
    height: calc(100vw* 210 / 360);
    display: flex;
    justify-content: center;
    border-radius: 4px;
    z-index: 999;

    img {
        object-fit: cover;
        width: auto;
        height: 100%;
    }
}

// .swiper-img {
//     max-width: 696px;
//     // max-height: calc(696px* 472 / 840);
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     border-radius: 4px;
// }

.swiper-fraction1 {
    position: absolute;
    bottom: 16px;
    right: 8px;
    width: auto;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal !important;
    color: #fff;
    padding: 0px 8px;
    z-index: 1;
}

.swiper-slice2 {
    display: none;
    width: 696px;
    margin: 10px 8px;
    border-radius: 4px;
    position: relative;

    img {
        max-width: 112px;
        max-height: 80px;
        width: auto;
        height: auto;
        object-fit: cover;
        cursor: pointer;
        border-radius: 4px;
        margin: auto;
    }
}

.sidebar {
    display: none;
    width: 210px;
    background-color: aquamarine;
}

// .info {}

.pr-title {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold !important;
    letter-spacing: -0.2px;
    color: #2C2C2C;
    display: block;
}

.location {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal !important;
    color: #2C2C2C;
    display: block;
    margin: 8px 0;
}


.intro {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal !important;
    color: #999;
    display: block;
}

.value {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold !important;
    color: #2C2C2C;
    margin-top: 4px;
    display: block;
}

.ext {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal !important;
    color: #505050;
    display: block;
}


.despcription {
    margin: 16px 0;
}

.des-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold !important;
    letter-spacing: -.2px;
    color: #2C2C2C;
    display: block;
}

.detail {
    width: 100%;
}

@media (min-width: 768px) {
    .slice {
        width: 696px;
        overflow: hidden;
    }

    .thumb-gallery {
        padding: 0;
    }

    .mySwiper1 {
        width: 696px;
        height: calc(696px* 472 / 840);
    }

    .swiper-item {
        width: 696px;
        height: 100%;


        img {
            min-height: auto;
            height: auto;
            object-fit: cover;
        }
    }


    .swiper-item2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-self: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


@media (min-width: 1024px) {
    .container {
        max-width: 1140px;
        margin: 24px auto;
    }

    .pr-title {
        font-size: 28px;
    }

    .sidebar {
        display: inline-block;
    }

    .swiper-slice1 {
        max-height: calc(696px* 472 / 840);
    }

    .swiper-slice2 {
        display: inline-block;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1140px;
        margin: 24px auto;

    }
}