.intro {
    width: 100%;
    margin-top: 32px;
    padding: 0 32px;
    min-height: 434px;
    height: auto;
}


.box {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 30px;
}


.box-item {
    text-align: center;
    opacity: 0;
    transform: translateY(80px);
    transition: all 500ms;
    // transition-delay: 2s;
}

.title {
    font-size: 20px;
    opacity: 0;
    transform: translateY(80px);
    transition: all 500ms;
}

.onView {
    opacity: 1;
    transform: translateY(0);
}

.delay-0 {
    transition-delay: 0;
}

.delay-1 {
    transition-delay: 50ms;
}

.delay-2 {
    transition-delay: 100ms;
}

.delay-3 {
    transition-delay: 150ms;
}

.item-img {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.item-title {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    color: #2C2C2C;
    font-weight: bold;
    margin-bottom: 16px;
}

.item-description {
    font-size: 14px;
}






@media(max-width: 768px) {
    .box {
        // grid-template-columns: repeat(1, minmax(0, 1fr));
        // padding: 100px 0;
        display: block;
        // height: 650px;
    }

    .box-pc {
        display: none;
    }

    .box-item {
        width: 100%;
        padding: 50px 0;
    }
}

@media(min-width: 768px) {
    .box-pc {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 40px 0;
    }

}

@media(min-width:1024px) {
    .title {
        padding: 0 2rem;
    }

    .box-pc {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding: 20px 2rem;
    }
}

@media(min-width:1536px) {
    .box-pc {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 30px;
    }
}