.wrapper {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: auto;
    max-height: 300px;
    margin-top: 10px;
    padding: 20px 0;
    border-radius: 4px;
    color: black;
    background-color: white;

    ul {
        width: 100%;
        list-style: none;
        cursor: pointer;

        :hover {
            background-color: #F2F2F2;
        }
    }

    li {
        width: 100%;
        padding: 0 20px;
    }
}

.hiden {
    display: none;
}