.wrapper {
    margin: 32px 0;
}

.title {
    font-size: 18px;
    line-height: 32px;
    margin: 16px 0;
    font-weight: bold !important;
    letter-spacing: -0.2px;
    color: #2C2C2C;
    display: block;
}