.wrapper {
    // width: 100vw;
    overflow: hidden;
}

.conten {
    margin-top: 100px;
}

// .box-seach {
//     margin-top: 85px;
//     margin-bottom: 64px;
//     background: rgb(255, 255, 255);
//     background-color: #fff;
//     border-radius: 0 4px 4px 4px;
//     box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
//     display: flex;
//     align-self: center;
//     justify-content: center;
// }

.input-box {
    padding: 16px;
    border-radius: 8px;
    width: 33%;
}

.filter-box {
    width: 67%;
    margin: auto;
    padding: 16px;
}

@media (max-width: 768px) {
    .filter-box {
        display: none;
    }

    .input-box {
        width: 100%;
    }
}