.wrapper {
    // width: 100vw;
    overflow: hidden;
}

.conten {
    margin-top: 16px;
}

.box-seach {
    margin-top: 85px;
    background: rgb(255, 255, 255);
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 8px 32px 0 0;
}

.input-box {
    margin: auto 0;

    border-radius: 8px;
    width: 33%;
    display: flex;
    align-items: center;

}

.filter-box {
    width: 67%;
    margin: auto;
    padding: 8px 16px;
    color: black;
}

@media (max-width: 768px) {
    .filter-box {
        display: none;
    }

    .input-box {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .box-seach {
        width: 100%;
        display: inline-block;
    }

    .filter-box {
        width: 100%;
    }

    .input-box {
        margin-bottom: 16px;
        width: 100%;
        padding: 0 32px;
    }
}