.hot-location {
    margin-bottom: 16px;
    padding: 15px;
    border: 1px solid #eff1f5;
    border-radius: 8px;

    h2 {
        border-bottom: 1px solid #eff1f5;
        padding-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.location-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.location-wrapper {
    display: flex;
    justify-content: center;
}

.location-item {
    width: 100%;
    margin-top: 16px;
    max-width: 160px;
    height: 75px;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover !important;

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: block;
        text-align: center;
        color: white;
        padding: 10px;
    }
}

.overlay {
    width: 100%;
    height: 42px;
    background: linear-gradient(180deg, rgba(44, 44, 44, 0) 0, black 100%);
    border-radius: 0 0 8px 8px;
}

.button {
    margin-top: 16px;
}

@media (min-width: 668px) {
    .hot-location {
        h2 {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media (min-width: 1024px) {
    .button {
        display: none;
    }

}